 /* Style for the landing page */
 .landing-page {
    height: 100vh;
    background-image: url(/onePieceFanPage/media/wallpaperflare.com_wallpaper\(1\).jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Style for the sections */
  section {
    height: 100vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Style for the navbar */
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    cursor: pointer;
  }